language = "python3"
run = "bash start.sh"

[python]
language = "python3.11"

[nodejs]
language = "nodejs"
version = "20"

[env]
NEXT_PUBLIC_API_URL=""
PORT="3000"

[nix]
channel = "stable-22_11"

[deploy]
publicDir = "frontend/.next"
exclude = ["venv", "node_modules", ".next", "*.db", "__pycache__"]

